h1.to {
    color:white; 
    font-size:60px;
    font-weight:normal;
    font-family: "Impact";
    text-align: center;
    background-color:black
    
}
h2.to2{
    color: green;
    
   text-align: center;  
   background-color:orange;
        
    
}
h2.ot2{
    color: black;
    text-align: center;  
     background-color:orangered;
}
h4{
    color: blue;
}

h1.ot {
    color: black;
    text-align: center;  
    background-color:honeydew;
}

p{
    color: black;
}

body{
 background-image:url(../images/02.jpg);
  
    }